img {
  width: 300px;
  border-radius: 50%;
  text-align: center;
}

body {
  font-family: Montserrat, arial;
  background-color: black;
  color: aliceblue;
  margin: 30px;
}

.nome {
  text-align: center;
  margin: auto;
}

.icones {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.navigation {
  text-align: center;
  position: absolute;
  float: left;
}

.navigation a{
  text-decoration: none;
  font-size: 16px;
  color: aliceblue;
  display: block;
  margin-right: 40px;
}

.navigation p{
  font-size: 12px;
  margin-top: 0px;
}

.navigation src{
  text-align: center;
}

.navigation :hover{
  transform: scale(1.05)
}